
<% if total1 %>
<% total = total1 %>
<h1><%= total1 %></h1>
<% end %>
<% if total2 %>
<% total = total2 + total %>
<h1><%= total2 %></h1>
<% end %>
<% if total3 %>
<% total = total3 + total %>
<h1><%= total3 %></h1>
<% end %>
<h1>Grand Total</h1>
<h1><%= total %></h1>
