<form class="die-roll" action="/roll" method="post">
  <select class="" name="dice[size][first]">
    <option value="2">2 Sided</option>
    <option value="4">4 Sided</option>
    <option value="6">6 Sided</option>
    <option value="8">8 Sided</option>
    <option value="10">10 Sided</option>
    <option value="12">12 Sided</option>
    <option value="20">20 Sided</option>
    <option value="100">100 Sided</option>
  </select>
  <input type="text" name="dice[number][first]" value="">
  <select class="" name="dice[size][second]">
    <option value="2">2 Sided</option>
    <option value="4">4 Sided</option>
    <option value="6">6 Sided</option>
    <option value="8">8 Sided</option>
    <option value="10">10 Sided</option>
    <option value="12">12 Sided</option>
    <option value="20">20 Sided</option>
    <option value="100">100 Sided</option>
  </select>
  <input type="text" name="dice[number][second]" value="">
  <select class="" name="dice[size][third]">
    <option value="2">2 Sided</option>
    <option value="4">4 Sided</option>
    <option value="6">6 Sided</option>
    <option value="8">8 Sided</option>
    <option value="10">10 Sided</option>
    <option value="12">12 Sided</option>
    <option value="20">20 Sided</option>
    <option value="100">100 Sided</option>
  </select>
  <input type="text" name="dice[number][third]" value="">
  <input type="submit" name="submit" value="Roll!">
</form>

<div id="die-container">
<%= erb :'/_partial', layout: false, locals: {total1: @total1, total2: @total2, total3: @total3} %>
</div>
